.recipe-details-container {
    padding: 20px;
    background-color: #1c1c1c;
    color: #fff;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .recipe-title {
    text-align: center;
    color: #00ffb3;
  }
  
  .recipe-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
  }
  
  .recipe-time {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #00aaff;
  }
  
  ul,
  ol {
    margin: 0 0 20px 20px;
  }
  
  .nutrition-info {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }
  